/* custom styles go here */
section {
  padding: 100px 0 !important;
}

#navbar-name {
  font-weight: 800 !important;
  letter-spacing: 2px !important;
}

.nav-link {
  font-style: normal !important;
}

.copyright {
  font-style: normal !important;
}

.project-thumb {
  filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
  filter: gray; /* IE5+ */
    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .4s ease-in-out;  
}

.project-thumb:hover {
  filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.05);
}

.img-icon {
  width: 55px !important;
}

#denver-icon {
  height: 55px !important;
}

#mobile {
  display: none;
}

@media only screen and
(max-width: 420px) {

  #greeting-intro {
    padding-top: 20px;
    text-align: center;
  }

  #byline-intro {
    padding-top: 20px;
    text-align: center;
  }
  #more-intro {
    display:none;
  }

  #desktop-tablet {
    display: none;
  }

  #mobile {
    display: inline-block;
    width: 100%;
    margin-right: 0;
    text-align: center;
  }

  #navbar-btn {
    width: 100%;
    margin-right: 0;
  }
}

@media only screen and
(max-width: 770px) {

  #headshot-container {
    max-width: 475px;
    margin-left: auto;
    margin-right: auto;
  }

  .interest-div {
    padding-top: 20px;
  }
}