/* custom styles go here */

.intro {
  height:100vh !important; /* fix for mobile browser address bar appearing disappearing */
  z-index:-1 !important; /* needed to keep in the background */
  background-attachment:scroll !important;
}

section {
  padding: 100px 0 !important;
}

#navbar-name {
  font-weight: 800 !important;
  letter-spacing: 2px !important;
}

.nav-link {
  font-style: normal !important;
}

.copyright {
  font-style: normal !important;
}

.project-thumb {
  filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
  filter: gray; /* IE5+ */
    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .4s ease-in-out;  
}

.project-thumb:hover {
  filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.05);
}

.img-icon {
  width: 55px !important;
}

#denver-icon {
  height: 55px !important;
}

#mobile {
  display: none;
}

#headshot-container {
  width: 100%;
  margin-right: 0;
  text-align: center;
}

.arrow{
    position: fixed;
    top: 125%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #FFF;
    border-right: 5px solid #FFF;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

@media only screen and
(max-width: 420px) {

  #greeting-intro {
    padding-top: 20px;
    text-align: center;
  }

  #byline-intro {
    padding-top: 20px;
    text-align: center;
  }
  #more-intro {
    display:none;
  }

  #desktop-tablet {
    display: none;
  }

  #mobile {
    display: inline-block;
    width: 100%;
    margin-right: 0;
    text-align: center;
  }

  #navbar-btn {
    width: 100%;
    margin-right: 0;
  }
}

@media only screen and
(max-width: 770px) {

  .interest-div {
    padding-top: 20px;
  }
}